<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


<!-- Custom styles for this template -->
<link href="/dashboard/dashboard.css" rel="stylesheet">


<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">BookCommerce</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <form method="POST" , action="/logout">
                <input type="hidden" value="logout" name="logout">
                <input type="submit" value="logout">
            </form>

        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">


                        <a class="nav-link active" aria-current="page" href="/dashboard">
                            <span data-feather="home"></span>
                            {{#if session.user.isAdmin}} Admin Dashboard {{else}} User Dashboard {{/if}}
                        </a>
                    </li>


                    {{#if session.user.isAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/books">
                            <span data-feather="shopping-cart"></span>
                            Books
                        </a>
                    </li>
                    {{/if}}

                    {{# if session.user.isAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/publisher">
                            <span data-feather="users"></span>
                            Publishers
                        </a>
                    </li>
                    {{/if}}


                    {{#if session.user.isAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/genres">
                            <span data-feather="users"></span>
                            Genres
                        </a>
                    </li>
                    {{/if}}

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/cart/checkout" <span data-feather="bar-chart-2"></span>
                            MyCart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/user/orders">
                            <span data-feather="layers"></span>
                            My orders
                        </a>
                    </li>
                </ul>

            </div>
        </nav>



        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Welcome {{user.name}}</h1>
                {{#if message}}
                <div class="alert alert-primary" role="alert">
                    {{message}}
                </div>
                {{/if}}
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>