<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <h2 class="fs-5">Information</h2>
                <ul class="list-group list-unstyled">
                    <li><a class="text-decoration-none" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none" href="#">About us</a></li>
                    <li><a class="text-decoration-none" href="#">Contact us</a></li>
                    <li><a class="text-decoration-none" href="#">Privacy Policy</a></li>
                    <li><a class="text-decoration-none " href="#">Terms of use</a></li>
                    <li><a class="text-decoration-none" href="#">Return and Refund Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12">
                <h2 class="fs-5">Contact</h2>
                <div class="text-capitalize">
                    <b class="fw-normal">BookCommerce pvt ltd</b>
                    <br />
                    Koteshwor, <br />
                    Kathmandu, Nepal <br />

                    Tel: <a href="tel:+977-9843175898">+977-9843175898</a>
                    <br>
                    Email: <a class="text-lowercase" href="mailto:tusligautam@gmail.com">tulsigautam05@gmail.com</a>
                </div>

            </div>
            <div class="col-md-3 col-xs-12">
                <h2 class="fs-5">Follow Us</h2>
                <ul class="list-group list-unstyled">
                    <li><a class="text-decoration-none" href="">Facebook</a></li>
                    <li><a class="text-decoration-none" href="">Twitter</a></li>
                    <li><a class="text-decoration-none" href="">Youtube</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12">
                <h2 class="fs-5">BookCommerce</h2>
                <p class="text-left">bookcommerce.com - your source for books in Nepal. We provide you to our ebook
                    collection. Selected
                    books have been made available now and we will keep increasing the number of titles. Start reading
                    them immediately and conveniently from within our apps</p>
            </div>
        </div>
    </div>
</footer>