{{> dashboard_nav}}
<form method="post" action="/dashboard/book/add" enctype="multipart/form-data">

    <!-- title -->
    <div class="mb-3">
        <label for="title" class="form-label">Title </label>
        <input type="text" required class="form-control" name="title" id="title">
    </div>

    <!-- Description -->
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" required name="description" id="description"> </textarea>
    </div>

    <!-- price -->
    <div class="mb-3">
        <label for="price" class="form-label">Price </label>
        <input type="number" class="form-control" name="price" id="price">
    </div>


    <!-- thumbnail -->
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Thumbnail</label>
        <input type="file" class="form-control" name="thumbnail" required id="thumbnail">
    </div>


    <!-- genre -->
    <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <select class="form-select" aria-label="select genre" required name="genre">
            <option selected>Choose Genre </option>
            {{#each genres}}
            <option value="{{id}}">{{genre}}</option>
            {{/each}}
        </select>
    </div>


    <!-- edition -->
    <div class="mb-3 form-group">
        <label class="form-label" for="edition">Edition</label>
        <input type="number" class="form-control" name="edition" required id="edition">
    </div>

    <!-- isbn no -->
    <div class="mb-3 form-group">
        <label class="form-label" for="isbn">ISBN</label>
        <input type="number" class="form-control" name="isbn" required id="isbn">
    </div>

    <!-- pages -->
    <div class="mb-3 form-group">
        <label class="form-label" for="pages">Pages</label>
        <input type="number" class="form-control" name="pages" required id="pages">
    </div>

    <!-- publisher -->
    <div class="mb-3">

        <label for="thumbnail" class="form-label">Publisher</label>
        <select class="form-select" aria-label="Select publisher" required name="publisher">
            <option selected>Choose Publisher </option>
            {{#each publishers}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <!-- url -->
    <div class="mb-3">
        <label class="input-label" for="url">Upload file</label>
        <input type="file" class="form-control" required name="url" id="url">
    </div>

    <!-- Add book -->
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-dark" value="submit">
    </div>

</form>


{{>dashboard_footer}}