{{> dashboard_nav}}
<form method="post" action="/dashboard/book/add" enctype="multipart/form-data">

    <!-- title -->
    <div class="mb-3">
        <label for="title" class="form-label">Title </label>
        <input type="text" class="form-control" name="title" id="title">
    </div>

    <!-- Description -->
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" id="description"> </textarea>
    </div>

    <!-- price -->
    <div class="mb-3">
        <label for="price" class="form-label">Price </label>
        <input type="number" class="form-control" name="price" id="price">
    </div>

    <!-- Author -->
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <select class="form-select" multiple aria-label="Author list" name="author" id="author">
            <option selected>Author </option>
            <option value="1">Manoj Gautam</option>
            <option value="2">Tulsi Gautam</option>
            <option value="3">Laxmi</option>
        </select>
    </div>

    <!-- thumbnail -->
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Thumbnail</label>
        <input type="file" class="form-control" name="thumbnail" id="thumbnail">
    </div>

    <!-- genre -->
    <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <select class="form-select" aria-label="select genre" name="genre">
            <option selected>Genre</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>


    <!-- edition -->
    <div class="mb-3 form-group">
        <label class="form-label" for="edition">Edition</label>
        <input type="number" class="form-control" name="edition" id="edition">
    </div>

    <!-- isbn no -->
    <div class="mb-3 form-group">
        <label class="form-label" for="isbn">ISBN</label>
        <input type="number" class="form-control" name="isbn" id="isbn">
    </div>

    <!-- pages -->
    <div class="mb-3 form-group">
        <label class="form-label" for="pages">Pages</label>
        <input type="number" class="form-control" name="pages" id="pages">
    </div>

    <!-- publisher -->
    <div class="mb-3">

        <label for="thumbnail" class="form-label">Publisher</label>
        <select class="form-select" aria-label="Select publisher" name="publisher">
            <option selected>Choose Publisher </option>
            <option value="1">Publisher one</option>
            <option value="2">Publisher Two</option>
            <option value="3">Publisher Three</option>
        </select>
    </div>

    <!-- url -->
    <div class="mb-3">
        <label class="input-label" for="url">Upload file</label>
        <input type="file" class="form-control" name="url" id="url">
    </div>

    <!-- Add book -->
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-dark" value="submit">
    </div>

</form>


{{>dashboard_footer}}