{{> dashboard_nav}}

<form method="POST" , action="/dashboard/genre/add">
    <!-- name -->
    <div class="mb-3">
        <label for="publisher_name" class="form-label">Genre name</label>
        <input type="text" required name="genre" class="form-control" id="publisher_name" aria-describedby="emailHelp">
    </div>

    <!-- description -->
    <div class="mb-3">
        <label for="description" class="form-label">Genre description</label>
        <textarea type="email" required name="description" id="description" class="form-control" id="publisher_name"
            aria-describedby="emailHelp"></textarea>
    </div>




    <input type="submit" class="bnt btn-dark" value="Add Genre">

</form>

{{>dashboard_footer}}