{{>header}}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2 class="fs-4">Login</h2>
            <form method="post" action="/login">
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp"
                        name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="loginPassword" name="password">
                </div>

                <input type="submit" class="btn btn-dark" value="Login">
            </form>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 class="fs-4">or Register</h2>
            <form method="POST" , action="/register">
                <div class="mb-3">
                    <label for="Name" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="Name" aria-describedby="emailHelp" name="name">

                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email">
                    
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>

                <button type="submit" class="btn btn-dark">Register</button>
            </form>
        </div>
    </div>
    <hr>
</div>{{>footer}}