{{>header}}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2 class="fs-4 mb-5">Login</h2>
            {{#if formError}}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {{#each formError}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            <form method="post" action="/login">
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" required id="loginEmail" aria-describedby="emailHelp"
                        name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="loginPassword" required name="password">
                </div>

                <input type="submit" class="btn btn-dark" value="Login">
            </form>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 class="fs-4">or Register</h2>

            <!-- form error lists -->
            {{#if error.registrationFormError}}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {{#each error.registrationFormError}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            <!-- field error list -->
            {{#if error.registerFormFieldError}}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {{#each error.registerFormFieldError}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}



            <form method="POST" , action="/register">
                <div class="mb-3">
                    <label for="Name" class="form-label">Your Name</label>
                    <input type="text" required
                        class="form-control {{#if error.registerFormFieldError.name}}is-invalid{{/if}}" id="Name"
                        aria-describedby="emailHelp" name="name">
                    {{#if error.registerFormFieldError.name}}
                    <div class="invalid-feedback">

                        {{error.registerFormFieldError.name}}
                    </div>
                    {{/if}}



                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" required class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="email">

                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" required class="form-control" id="exampleInputPassword1" name="password">
                </div>

                <button type="submit" class="btn btn-dark">Register</button>
            </form>
        </div>
    </div>
    <hr>
</div>{{>footer}}