{{> header }}
<div class="container mt-3">

    <h2 class="fs-5">New Releases</h2>
    <hr>

    <div class="owl-carousel owl-theme">


        {{#each items}}
        <div class="card item" style="width: 14rem;">
            <img src="https://media.thuprai.com/__sized__/front_covers/Nritakshar_bigyan-thumbnail-280x405-70.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="fs-6">Nepolean Bonapart</h2>
                <a href="#" class="btn btn-success text-left">Add to cart</a>
            </div>
        </div>
        {{/each}}

    </div>



    <h2 class="fs-5">Audio Books</h2>
    <hr>
    <h2 class="fs-5">Ebooks</h2>



</div>

{{> footer }}